<div class="post-card">
  <div class="post-card-header">
    {{#each posts}}
    <li>{{User.name}}</li>
    <li>{{title}}</li>
    <li>{{topic}}</li>
    <li>{{description}}</li>
    {{/each}}
  </div>
</div>