
    <div>
          <div>
            <a href="dashboard">return to dashboard</a>
        </div>
    <div>
        <h2>Create New post</h2>
        <form class="p-2 rounded" style="background-color: purple;" action="submit" id="login-form">
        <div>
            <label for="title">title: </label>
            <input type="text" id="title-post" placeholder="A title"/>
        </div>
          <div>
            <label for="topic">topic: </label>
            <input type="text" id="topic-post" placeholder="A post"/>
        </div>
          <div>
            <label for="description">description: </label>
            <input type="text" id="description-post" placeholder="A description"/>
        </div>
   
        <div>
            <button type="submit">create post</button>
        </div>
        </form>
    </div>