<div class="div">
    <p>dashboard</p>

  <div>
            <button type="logout">logout</button>
            <p>sfasd</p>
        </div>
   <div>
            <a href="/createnewpost">create new post</a>
        </div>
       

{{#each posts as |post|}}
    {{>postDashBoard}}
{{/each}}
        

<script src="/js/dashboard.js"></script>    
</div>