<div class="div">
    <p>dashboard</p>
<div>

  <div>
            <button type="logout" id="btnId" >logout</button>
           
        </div>
   <div>
            <a id="newpost" href="/createnewpost">create new post</a>
        </div>
</div>

       

{{#each posts as |post|}}
    {{>postDashBoard}}
{{/each}}
        

<script src="/js/dashboard.js"></script>    
</div>